<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>

</head>
<body>
    <h1 >ESTA ES NUESTRA PRIMER PAGINA</h1>
    <hr>

    <section>
        <article class="fondo_impar ">
            <h3 class="subtitulo_1">Primer subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis illum quod in, nesciunt autem excepturi temporibus quaerat placeat ad consequatur iure doloremque dolor tempore? Commodi consequatur earum aliquam ab dignissimos!</p>
        
            <hr>
            <h3 class="subtitulo_2">Segundo subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus enim magnam deserunt quibusdam magni expedita quae autem voluptatem error! Deleniti doloremque cupiditate et fugit fugiat facere eius ab dolores excepturi.</p>
        
        </article>    

        <article class="fondo_par">
            <h3 class="subtitulo_1">Tercer subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis illum quod in, nesciunt autem excepturi temporibus quaerat placeat ad consequatur iure doloremque dolor tempore? Commodi consequatur earum aliquam ab dignissimos!</p>
        
            <hr>
            <h3 class="subtitulo_2">Cuarto subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus enim magnam deserunt quibusdam magni expedita quae autem voluptatem error! Deleniti doloremque cupiditate et fugit fugiat facere eius ab dolores excepturi.</p>
        
        </article>    

        <article>
            <h3 class="subtitulo_1 reformado">Tercer subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis illum quod in, nesciunt autem excepturi temporibus quaerat placeat ad consequatur iure doloremque dolor tempore? Commodi consequatur earum aliquam ab dignissimos!</p>
        
            <hr>
            <h3 class="subtitulo_2 reformado">Cuarto subtitulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus enim magnam deserunt quibusdam magni expedita quae autem voluptatem error! Deleniti doloremque cupiditate et fugit fugiat facere eius ab dolores excepturi.</p>
        
        </article>    


    </section>
</html>