
.subtitulo_1{
    color: blue;
    border: 2px solid #bd1b879f;
    

}

.subtitulo_2{
    color: rgb(19, 87, 16);
    
    

}

.reformado{
    border: 2px solid rgb(19, 87, 16);

}

p{
    color: orange;
}


.fondo_impar{
    border: 3px solid red  ;
    background-color: rgba(255, 68, 0, 0.582);
}

.fondo_par{
    border: 3px solid blue  ;
    background-color: yellow;
}